<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Blog</title>
	<th:block th:include="fragments/general.html :: headerfiles">
        </th:block>
  	
</head>

<body class="container m-auto p-3 rounded">
   
     <header class="py-5 bg-dark bg-gradient rounded text-white text-center d-flex align-items-center position-relative">
       <div class="position-absolute top-0 end-0 p-2">Zalogowany: <span th:text="${user.username}">User</span></div>
      <div class="col-lg-2 mx-2"><i class="material-icons" style="font-size:68px;color:white">import_contacts</i></div>
      <div class="col-lg-10 d-flex justify-content-start mx-2"><h1>Blog - wszystkie posty</h1></div>
      <nav class="position-absolute bottom-0 end-0 d-flex align-items-center">
      <a class="btn text-white d-flex align-items-center" onclick="event.preventDefault();var myCollapse = document.getElementById('collapseForm');var bsCollapse = new bootstrap.Collapse(myCollapse, {toggle: true})" ><i class="material-icons" style="color:white" >add</i> Utwórz artykuł</a> | 
      <!--<a class="btn text-white d-flex align-items-center" th:href="@{/logout}"><i class="material-icons" style="color:white">person</i> Wyloguj</a>-->
      <a class="btn text-white d-flex align-items-center" href="javascript: document.logoutForm.submit()" role="menuitem">Wyloguj</a>
           <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/></form>
      </nav>
    </header>
    <main>
    
    <div id="posts" >
    	<div th:if="${message}" class="m-3 p-3r text-success" th:text="${message}">Message</div>
		<div th:if="${errors}" class="m-3 p-3r text-danger">
		<p th:text="${errorMessage}"></p>
		    <ul>
		        <li th:each="err : ${errors}" th:text="${err.getDefaultMessage()}" />
		    </ul>
		</div>
            <h2 th:if="${articles == null || articles.size ==0}" class="m-3 p-3r">Brak artykułów do wyświetlenia</h2>
      		
          
          <div th:unless="${articles == null || articles.size ==0}">
          
            <article th:each="article : ${articles}" class="border my-4 shadow-sm rounded card position-relative">
	            <div th:if="${article.author.id == user.id}" class="btn btn-white position-absolute top-0 end-0 d-flex align-items-center m-0 p-0">
	            <a th:href="@{'/articles/edit/{id}'(id=${article.id})}" class="btn btn-white d-flex align-items-center"><i class="material-icons">mode_edit</i> Edytuj
		    			</a>
		           <form th:action="@{'/articles/delete/{id}'(id=${article.id})}" th:method="delete" class="btn btn-white d-flex align-items-center">
		    			<button type="submit" class="btn align-items-center d-flex">
		        								<i class="material-icons">delete_forever</i> Usuń
		    			</button>
					</form>
	            </div>
                
                <h2 class="blog-post-title card-title px-3 pt-3 w-75" th:text="${article.title}">Title</h2>
                <p class="blog-post-meta text-muted ps-3 fs-6">
                	<span th:text="'Utworzony:' + ${#dates.format(article.publishedAt, 'dd-MM-yyyy HH:mm')}"></span><br>
                	<span th:text="'Autor: ' + ${article.author.username}"></span>
                </p>
        		
                <div class="card-text p-3" th:utext="${article.body}">Body</div>
                
                <div class="card-footer d-flex justify-content-end align-items-center">
                
                <div class="dropdown">
                	<button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" th:text="'Polubień: ' + ${article.likeCount()}">Likes count
                	</button>
					    <ul th:if="${article.likeCount() > 0}" class="dropdown-menu px-3">
					      <li th:each="liker : ${article.likers}"><span th:text="${liker.username}"></span></li>
						    
					    </ul>
                </div>
                
                
                <form th:action="@{'/articles/likes/{id}'(id=${article.id})}" th:method="post" class="btn btn-white d-flex align-items-center">
		    			
		    			
		    			<input type="hidden" th:value="${article.isLikedByUser(user)}" th:attr="name='isLiked'"/>
		    			
		    				<button th:if="${!article.isLikedByUser(user)}" type="submit" class="btn btn-success d-flex align-items-center">
		    									
		        								<i class="material-icons">thumb_up</i>&nbsp;Polub
		        								
		    				</button>
		    				<button th:unless="${!article.isLikedByUser(user)}" type="submit" class="btn btn-danger d-flex align-items-center">
		    									
		        								<i class="material-icons">thumb_down</i>&nbsp;Cofnij polubienie
		        								
		    				</button>
		    			
					</form>
                </div>
              </article>
              
         </div>
    
        
         
    </div>
    <div id="add_post "class="row fixed-bottom bg-light border-top border-primary">
    <button class="btn btn-primary btn-lg ds-flex align-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="false"><i class="material-icons">add</i>&nbsp;<span>Utwórz nowy artykuł</span></button>
      
        <div class="collapse" id="collapseForm">
        
	        <form th:action="@{/addArticle}" th:object="${newArticle}" class="col-lg-6 mx-auto p-3" method="post" id="addForm">
	        
		         <div class="mb-3 mt-3">
		          <label for="postTitle" class="form-label">Temat artykułu:</label><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Błąd</span>
		          <input type="text" th:field="*{title}" class="form-control" required>
		          
		         </div>
		         <div class="mb-3">
		          <label for="postBody" class="form-label">Treść artykułu:</label><span th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="text-danger">Błąd</span>
		          <textarea th:field="*{body}" class="form-control" style="resize:none" rows="3"></textarea>
		         </div>
		         
		    	 <div>
		          <button type="submit" class="btn btn-md btn-primary d-flex mt-3 align-items-center"><i class="material-icons">add</i>&nbsp;Dodaj artykuł</button>
		         </div>
	        
	        </form>
        </div>
    </div>
         
    </main>
    <script>
      tinymce.init({
        selector: 'textarea#body',
        plugins: 'link image lists code',
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image code| forecolor language',
        language: 'pl'
       
  		
      });
    </script>
    <footer th:replace="fragments/general.html :: footer"></footer>
    </body>
</html>