<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>

<title>Stronia logowania</title>
<th:block th:include="fragments/general.html :: headerfiles">
        </th:block>
</head>
<body class="container m-auto p-3">
  
   <!--  <div class="row py-5 mx-3 bg-secondary rounded text-white text-center d-flex align-items-center">
      <div class="col-lg-2"><i class="material-icons" style="font-size:68px;color:white">import_contacts</i></div>
      <div class="col-lg-10 d-flex justify-content-start"><h1>Blog - strona startowa</h1></div>
      
    </div> -->
    <header class="py-5 bg-dark bg-gradient rounded text-white text-center d-flex align-items-center position-relative">
      <div class="col-lg-2 mx-2"><i class="material-icons" style="font-size:68px;color:white">import_contacts</i></div>
      <div class="col-lg-10 d-flex justify-content-start mx-2"><h1>Blog - logowanie</h1></div>
      
    </header>
    <main>
    <div class="row">
          <div class="d-flex flex-column justify-content-center">
          
          <form th:action="@{/login}" class="border my-3 p-3 shadow-sm rounded" method="post">
            <h2><i class="material-icons">input</i> Logowanie</h2>
                
                    <p th:if="${param[error] != null }" class="text-danger">
                     	Logowanie nieudane. Sprawdź poprawność nazwy użytkownika i hasła.
                    </p>
            <div class="w-50">      
            <div class="mb-3 mt-3">
            <label for="username" class="form-label">Nazwa użytkownika:</label>
            <input type="text" class="form-control" placeholder="Wpisz nazwę" name="username" required>
            </div>
            <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input type="password" class="form-control" placeholder="Wpisz hasło" name="password" required>
            </div>
            <div class="d-flex align-items-center justify-content-start">
            <button type="submit" class="btn btn-primary">Zaloguj</button><a class="ms-3" th:href="@{/register}">Nie masz konta? Zarejestruj się</a>
            </div>
            </div>
            
          </form>
          
          </div>
          
     </div>
       
    </main>
     <footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>